@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root{
	--DarkBlue: hsl(209, 23%, 22%);
	--VeryDarkBlue1: hsl(207, 26%, 17%);
	--VeryDarkBlue2: hsl(200, 15%, 8%);
	--DarkGray: hsl(0, 0%, 52%);
	--VeryLightGray: hsl(0, 0%, 98%);
	--White: hsl(0, 0%, 100%);

	--maxWidth: 128rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}
body {
	padding: 0;
	margin: 0;
	background-color: var(--background);
}
.light {
	--background: var(--VeryLightGray);
	--text: var(--VeryDarkBlue2);
	--input: var(--DarkGray);
	--elements: var(--White);
}

.dark {
	--background: var(--VeryDarkBlue1);
	--text: var(--White);
	--input: var(--White);
	--elements: var(--DarkBlue);
}
